/*  Designed by Anupam khosla:  https://www.linkedin.com/in/anupamkhosla/ */



/*Genric  utility classes starts*/
.btn {
  padding: 0 12px;
}

.btn-rounded {
  border-radius: 50em;
}
.container-fixed {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flow-root {
  display: flow-root;
}

.hide2 {
  display: none; 
}

.justify-content-center {
  justify-content: center;
}

.justify-content-left {
  justify-content: flex-start;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.no-wrap {
  white-space: nowrap;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.truncated {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  display: block;
  width: 100%;
}

.truncated-2lines {
   display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow-y: hidden;
}

.w-auto {
  width: auto;
}

.o-y-hidden {
  overflow-y: hidden;
}

.o-focus-none:focus {
  outline: 0;
}

.w-50 {
  width: 50%;
}

/*Genric utility classe end*/



/*global rules start */
html, body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1400px;
  width: 100%;
  padding: 0 15px;
}

a {
  outline-offset: 1px;
}

a:focus-visible {
  outline: #fff dotted 1px;
  outline-color: inherit;
  outline-offset: 1px;
}

.material-icons-outlined {
  overflow: hidden;
  width: 100%;
  text-align: center;
}

.parallax-container .parallax img {
  opacity: 1;
}


.select-dropdown li img {
  height: auto;
  width: 30px;
  padding-top: 8px;
}

.noUi-connect,
.noUi-target.noUi-horizontal .noUi-tooltip {
  background-color: #2196f3;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input.valid:not([type]),
input.valid:not([type]):focus,

input[type=text]:not(.browser-default):focus,
input[type=text].valid:not(.browser-default),
input[type=text].valid:not(.browser-default):focus,
input[type=password].valid:not(.browser-default),
input[type=password].valid:not(.browser-default):focus,
input[type=email].valid:not(.browser-default),
input[type=email].valid:not(.browser-default):focus,
input[type=url].valid:not(.browser-default),
input[type=url].valid:not(.browser-default):focus,
input[type=time].valid:not(.browser-default),
input[type=time].valid:not(.browser-default):focus,
input[type=date].valid:not(.browser-default),
input[type=date].valid:not(.browser-default):focus,
input[type=datetime].valid:not(.browser-default),
input[type=datetime].valid:not(.browser-default):focus,
input[type=datetime-local].valid:not(.browser-default),
input[type=datetime-local].valid:not(.browser-default):focus,
input[type=tel].valid:not(.browser-default),
input[type=tel].valid:not(.browser-default):focus,
input[type=number].valid:not(.browser-default),
input[type=number].valid:not(.browser-default):focus,
input[type=search].valid:not(.browser-default),
input[type=search].valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid > input.select-dropdown {
  border-bottom: 1px solid #2196F3;
  -webkit-box-shadow: 0 1px 0 0 #2196F3;
  box-shadow: 0 1px 0 0 #2196F3;

}

input:not([type]):focus.valid ~ label,
input[type=text]:not(.browser-default):focus.valid ~ label,
input[type=password]:not(.browser-default):focus.valid ~ label,
input[type=email]:not(.browser-default):focus.valid ~ label,
input[type=url]:not(.browser-default):focus.valid ~ label,
input[type=time]:not(.browser-default):focus.valid ~ label,
input[type=date]:not(.browser-default):focus.valid ~ label,
input[type=datetime]:not(.browser-default):focus.valid ~ label,
input[type=datetime-local]:not(.browser-default):focus.valid ~ label,
input[type=tel]:not(.browser-default):focus.valid ~ label,
input[type=number]:not(.browser-default):focus.valid ~ label,
input[type=search]:not(.browser-default):focus.valid ~ label, textarea.materialize-textarea:focus.valid ~ label {
  color: #2196F3;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=url]:not(.browser-default):focus:not([readonly]) + label,
input[type=time]:not(.browser-default):focus:not([readonly]) + label,
input[type=date]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime]:not(.browser-default):focus:not([readonly]) + label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label,
input[type=tel]:not(.browser-default):focus:not([readonly]) + label,
input[type=number]:not(.browser-default):focus:not([readonly]) + label,
input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2196F3;
}

[type="checkbox"]:checked + span:not(.lever):before {
  border-right-color: #2196F3;
  border-bottom-color: #2196F3;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 0.875rem;
}

.btn:focus,
.btn:hover {
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
}

.btn.orange:focus,
.btn.orange:hover {
  background-color: #ef6c00 !important;
}

.btn.blue:focus,
.btn.blue:hover {
  background-color: #1976d2 !important;
}

/*global rules end*/


nav {
  display: flow-root; /*establish new block formatting context*/
}

nav .nav-wrapper {
  margin-top: 5px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

nav, nav a.sidenav-trigger{     
  height: 64px;
  color: #e68509;
}

nav .sidenav-trigger i {
  height: 64px;
  line-height: 64px;
}

nav ul a.btn,
nav .brand-logo {
  color: #fff;
  position: relative;
  z-index: 1;   
  margin: 0;
  display: inline-flex;
}

nav ul a.btn-rounded {
  margin-left: 20px;
  font-size: 0.75rem;
  padding: 0 25px;
}

nav .brand-logo {
  font-size: 1.5rem;
}


nav ul a.btn:not(.btn-rounded):hover,
nav ul a.btn:not(.btn-rounded):focus {
  color: #fb8c00;
}

.brand-logo .material-icons-outlined {
  font-size: 3rem;
  margin-right: 15px;
  max-width: 3rem;
  overflow: hidden;
  /*For slow connections, before the icons load, the replaced text won't break the design*/
}

nav .call {
  display: flex;
  font-weight: 600;
}

nav .call .material-icons-outlined {
  margin-right: 10px;
  max-width: 24px;
  overflow: hidden;
}

nav .tabs {
  height: auto;
}

nav .tabs .indicator {
  display: none;
}

nav .dropdown-content {
  max-width: 800px;
  transition-property: width, height;
  transition-duration: .3s;
}

nav .dropdown-content .tab {
  text-align: left;
  height: auto;
  line-height: initial;
  min-height: 0;  
  text-transform: none;
}

nav .dropdown-content .tabs {
  background-color: #f7f7f7;
  padding: 30px 0;
  margin: 0;
}


.sidenav li > a {
  color: #333;
  padding: 0 16px;
  font-weight: 500;
  font-size: 0.8125rem;
}

.sidenav li:not(.account) > a {
  font-weight: 600;
  padding: 0 16px 0 20px;
} 

.sidenav .account {
  margin-bottom: 15px;
}

.sidenav .account a:hover,
.sidenav .account a:focus {
  background-color: #ef6c00 !important;
}

.sidenav .account a.blue:hover,
.sidenav .account a.blue:focus {
  background-color: #1976d2 !important;
}


.sidenav li > a > i.material-icons {
  margin: 0;
  width: auto;
  color: #333;
  float: right;
  font-size: 1.125rem;
  transform: rotate(-90deg);
  transition: transform .3s ease;
}

.sidenav li.active > a > i.material-icons {
  transform: rotate(0deg);
}

.sidenav .call .material-icons-outlined {
  font-size: 1.125rem;
  margin-right: 5px;
  margin-top: 2px;

}

.sidenav .collapsible .logo {
  flex-direction: column;
  align-items: center;
  padding: 30px 0 30px 0;
}

.sidenav .logo a.icon {
  font-size: 4rem;
  color: #fb8c00;
  padding-top: 10px;
  font-weight: 500;
}

.sidenav .logo a.text-link {
  font-size: 1.25rem;
  color: #fb8c00;
  padding-top: 5px;
}



.sidenav li.logo:hover > a {
  color: #ef6c00;
  background-color: transparent;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
  background-color: transparent;
}

.sidenav .collapsible-body li .lv1 {
  padding-left: 32px;
}

.sidenav .collapsible-body li .lv2 {
  padding-left: 48px;
}


.dropdown-content .tab a {
  padding: 10px 40px;
  position: relative;
  color: #222;
  font-weight: 500;
}
.dropdown-content .tab a:focus,
.dropdown-content .tab a:hover {
  background-color: rgba(251, 140, 0, 0.2);
  color: #222;
}

.dropdown-content .tab a.active,
.dropdown-content .tab a.active:focus,
.dropdown-content .tab a.active:hover {
  color: #fb8c00;  
  background-color: rgba(251, 140, 0, 0.2);
}

.dropdown-content .tab a:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 3px;
  background-color: transparent;
  transition: background-color .28s ease;
}

.dropdown-content .tab a.active:before {
  background-color: #fb8c00;
}

nav .dropdown-content .tab-content {
  padding: 38px 40px;
}

nav .tab-content .title {
  margin-top: 0px;
}

nav .dropdown-content li {
  min-height: 0;
  cursor: default;
  margin-top: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #555;
}

nav .dropdown-content li > a,
nav .dropdown-content li > span {
  color: #111;
  line-height: normal;
  padding: 0;
  font-size: 0.8125rem;
}

nav .dropdown-content li > a:hover,
nav .dropdown-content li > a:focus {
  color: #fb8c00;
  background-color: transparent;
}

.dropdown-content li:hover,
.dropdown-content li.active {
  background-color: transparent;
}

.sidenav li > a.valign-wrapper {
  display: flex;
}

.dropdown-trigger.open {
  outline: none; /*material css dropdown_on_hover_outline bug fix https://github.com/Dogfalo/materialize/issues/6656#issue-995096091*/
}


.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {  
  min-height: 100vh;  
  top: -64px;
  margin-bottom: -64px;
  
}
.parallax-container .section {
  width: 100%;
}

.parallax-container .parallax img {
 filter: brightness(0.5);
}

#index-banner .card-tabs {
  display: flex;

}

#index-banner .tabs.tabs-fixed-width {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: auto;
}

#form1 {  
  width: 100%;      
}

#form1 .empty {
  flex-basis: 120px;
}

#form1 .card-content > .row {
  margin-bottom: -15px;
}

#form1 .tabs {
  margin-top: 50px;  
}

#form1 .tabs .tab {
  line-height: 36px;
  height: 36px;
}

#form1 .tabs a {
  color: #fff;
  font-weight: 600;
}

#form1 .tab a:hover:not(.active),
#form1 .tab a:focus {
  background-color: rgba(251, 140, 0, 0.2);
}

#form1 .tab a.active {
  background-color: rgba(33, 150, 243, 0.7);
}

#form1 .tab a.active:focus {
  background-color: rgba(21, 101, 192, 0.7);
}

#form1 .tabs .indicator {
  display: none;
}

#form1 .card {
  max-width: 993px;  
  width: 100%;
}

#form1 .card-content {
  border-radius: 100em;
}

#form1 .price_range {
  margin-top: 43px;
  padding: 0 10px 0 5px;
}

#form1 .price {
  font-size: 0.8rem;
  top: -27px;
}

#form1 .dynamic-price {
  padding-top: 4px;
}

#form1 .card-content .col {
  margin-left: 0;
}

#form1 .search {
  margin-top: -0px;
  width: 100%;
}


/* sponser section */

.sponser {
  padding: 20px 0;
}

.sponser > h3 {
  font-size: 2rem;
}

.sponser > h4 {
  font-size: 1.25rem;
}

.swiper {
  padding: 20px 15px 40px;  
}

.swiper .swiper-slide {
  width: calc(90.9091% - 0px);
  height: auto;
  margin-right: 15px;
}

.swiper .card {
  border-radius: 5px;
}

.swiper .card-image  .card-pic {
  height: 250px;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px 5px 0 0;
  cursor: grab;
}

.swiper .card-image .badge{
  position: absolute;
  top: 10px;
  left: 10px;
  margin-left: 0;
  font-size: 0.75rem;
  z-index: 1;
}

.swiper .badge.new:after {
  content: "";
}

.swiper .bookmark {
  position: absolute;
  top: 11px;
  right: 10px;  
  cursor: pointer;  
  width: 20px;
  height: 20px;
  z-index: 1;
}

.swiper .bookmark .star {
  fill: transparent;
  stroke: #fb8c00;
  stroke-width: 2px;
  transition: fill .3s ease;
}

.swiper .fill .star {
  fill: #fb8c00;
}

.swiper .bookmark.rent .star {
  stroke: #2196F3;
}

.swiper .bookmark.rent.fill .star {
  fill: #2196F3;
}

.swiper .btn-floating.halfway-fab {
  right: 50%;
  transform: translateX(50%);
}

.swiper.nested-swiper {
  padding: 0;
}

.swiper.nested-swiper .swiper-slide {
  margin-right: 0;
  width: 100%;
}

.swiper .card-content {
  padding: 24px 16px;
}

.swiper .card-content .title {
  font-size: 1rem;
}

.swiper .title a.orange-text:hover,
.swiper .title a.orange-text:focus {
  color: #ef6c00 !important;
}


.swiper .title a.blue-text:hover,
.swiper .title a.blue-text:focus {
  color: #003e7c !important;
}

.swiper address {
  font-size: 0.8125rem;
  font-style: normal;
  height: 2.25rem;
  line-height: 1.3;
  overflow-y: hidden;
}

.swiper address a {
  color: #444;
  font-weight: 500;
}


.swiper address a:hover,
.swiper address a:focus {
  color: #000;
}

.swiper .features {
  margin-top: 15px;
}

.swiper .features > .d-flex {
  padding: 5px;
  border-radius: 5px;
  width: calc(25% - 15px);
  background-color: #f4f4f4;
  align-items: center;
}

.swiper .features .material-icons-outlined {
  font-size: 32px;
  color: #777;
}

.swiper .features .amount {
  font-size: 0.8125rem;
  color: #333;
}

.swiper .amount small {
  font-size: 90%;
}

.swiper .card-action .price {
  font-size: 0.875rem;
}

.swiper .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  text-transform: none;
  font-size: 0.8125rem;
  margin-right: 0;
}

.swiper .card-action > .orange-text.details:hover,
.swiper .card-action > .orange-text.details:focus {
  color: #ef6c00 !important;
}


.swiper .card-action > .blue-text.details:hover,
.swiper .card-action > .blue-text.details:focus {
  color: #003e7c !important;
}

.swiper .card-action:last-child {
  border-radius: 0 0 5px 5px;
}

.swiper-pagination-bullet-active {
  background-color: #ff9800;
}





@media only screen and (min-width: 601px) {
  .swiper .swiper-slide {
    width: calc(47.62% - 7.5px);   
    margin-right: 15px;
  }
}
@media only screen and (min-width : 993px) { 
  nav .number {
    display: block !important;
  }
  .swiper {
    padding: 20px 25px 40px;
  }
  .swiper .swiper-slide {
    width: calc(32.26% - 17px);   
    margin-right: 25px;
  }
}
@media only screen and (min-width: 1201px) {
  .btn {
    padding: 0 15px;
  }
  .container {
    width: 90%;
  }
  .swiper {
    padding: 20px 35px 40px;
  }
  .swiper .swiper-slide {
    width: calc(24.39% - 26.45px);   
    margin-right: 35px;
  }
}









@media only screen and (max-width: 1700.8px) {  
  .container-fixed {
    max-width: 1400px;
  }
}
@media only screen and (max-width: 1200.8px) {
  nav ul a.btn-rounded {
    margin-left: 14px;
  }

  nav .dropdown-content {
    max-width: 725px;
  }

  #form1 h1 {
    font-size: 3rem;
  }

  #form1 h4 {
    font-size: 1.75rem;
  }

  .sponser > h3 {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
  }

  .sponser > h4 {
    font-size: 1.125rem;
    margin: 1rem 0 0.5rem 0;
  }

}
@media only screen and (max-width: 992.8px) {
  .nav-wrapper {
    width: 100%;
    padding: 0;
  }

  .brand-logo .material-icons-outlined {
    margin-right: 10px;
  }

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }

  #form1 .aligner {
    width: 80%;
  }

  #form1 h1 {
    font-size: 2rem;
  }

  #form1 h4 {
    font-size: 1.5rem;
  }

  #form1 .card {
    border-radius: 30px;
  }

  #form1 .tab a {
    padding: 0 24px;
  }

  #form1 .search {
    max-width: 280px;    
  }

}

@media only screen and (max-width : 600.8px) {

  #form1 .aligner {
    width: 100%;
  }

  #form1 .empty.last {
    flex-basis: 30px;
  }

  #form1 .tabs {
    margin-top: 30px;
  }

  .sponser > h3 {
    font-size: 1.5rem;
    margin: 0 0 0.8125rem 0;
  }

  .sponser > h4 {
    font-size: 1rem;
    margin: 0.8125rem 0 0 0;
  }

  .swiper {
    padding: 10px 15px 40px;
  }

}

